other_projects/OCR Gia na khontoume groussa namou/imgs
other_projects/OCR Gia na khontoume groussa namou/results
other_projects/OCR Gia na khontoume groussa namou/cleaned_pages
data/materials/Λεξικό Κωστάκη