<!DOCTYPE html>
<html>
<head>
  <title>Τσακώνικο λεξικό</title>
</head>
<body>
  <h1>Τσακώνικο λεξικό</h1>

  <div class="container">
    <div class="search-bar">
      <input type="text" placeholder="Пошук">
      <button type="submit">Націсніце</button>
    </div>

    <div class="languages">
      <ul>
        <li>TS-EL</li>
        <li>EL-TS</li>
      </ul>
    </div>

    <div class="translation">
      <h1>{{ tsakonian }}</h1>
      <h2>Μετάφραση στα ΕΛληνικά:</h2>
      <p>{{ greek }}</p>
    </div>
  </div>
</body>
</html>