{% load static %}

<link rel="stylesheet" href="{% static 'dictionary/style.css' %}">

{% if latest_entries %}
    <ul>
    {% for entry in latest_entries %}
        <li><a href="/dictionary/{{ entry.tsakonian }}">{{ entry.tsakonian }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Δεν υπάρχουν όρια!</p>
{% endif %}

{% if latest_entries %}
    <ul>
    {% for entry in latest_entries %}
        <li><a href="{% url 'dictionary:entry' entry.tsakonian %}">{{ entry.tsakonian }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Δεν υπάρχουν όρια!</p>
{% endif %}
