<!DOCTYPE html>
<html>
<head>
  <title>SKARNIK моўны скарб</title>
</head>
<body>
  <h1>SKARNIK моўны скарб</h1>

  <div class="container">
    <div class="search-bar">
      <input type="text" placeholder="Пошук">
      <button type="submit">Націсніце</button>
    </div>

    <div class="languages">
      <ul>
        <li>рус-бел</li>
        <li>бел-рус</li>
      </ul>
    </div>

    <div class="translation">
      <h2>перавод на белорусский язык:</h2>
      <p>сельское хозяйство іаркшыр, -ра мужской род</p>
    </div>
  </div>
</body>
</html>